@model IEnumerable<Nordia.Models.CheckNumModResultModel>

@{
    ViewData["Title"] = "Check Mod of Numbers";
}

@*<div class="text-center">

    <a class="buttonNordia" href='@Url.Action("CheckNums", "Home")'>Smash Me again with different value?!</a>

</div>*@

<p>
     @Html.ActionLink("GoBack", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}

</table>